.topBar {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 70px;
  padding-top: 30px;
}
.column {
    float: left;
    width: 1%;
}
.problem{
  color: white;
  font-family: 'Montserrat';
  font-size: 50px;
  padding-top: 80px;
  padding-left: 200px;
  width: 400px;
  text-align: right;
}
.topics{
  color: white;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 50px;
  padding-left: 650px;
  padding-top: 80px;
  width: 500px;
  text-align: left;
}