.topBar {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 70px;
  padding-top: 10px;
}
.column {
    float: left;
    width: 50%;
}
.problem{
  color: white;
  font-family: 'Montserrat';
  font-size: 30px;
  padding-top: 100px;
  padding-left: 100px;
  width: 400px;
  text-align: right;
}
.topics{
  color: white;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 50px;
  padding-left: 700px;
  width: 500px;
  text-align: right;
}