.topBar {
  max-width: 1100px;
  margin: 0 auto;
  font-weight: semibold;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 70px;
  padding-top: 30px;
}
.column {
  position: absolute;
  top: 15%;
  width: 50%;
  font-family: 'Montserrat';
  font-size: 50px;
  color: white;
  margin-top: 70px;
}

.column.left {
  left: 0;
}

.column.right {
  right:0;
}

.problem{
  text-align: right;

}
.topics{
  font-weight: 1000;
  text-align: left;
  padding-left: 25px;

}