
.long-text{
  color: white;
  font-family: 'Montserrat';
  padding: 75px 80px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

/*
.rules-button{
  background: white;
  color: #3a3434;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
}
*/